/**
*	Global
*/

@font-face {
  font-family: 'Aller';
  font-display: 'swap';
  src: url('../fonts/Aller/Aller_Rg.ttf') format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-display: 'swap';
  src: url('../fonts/Aller/Aller_Bd.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Aller';
  font-display: 'swap';
  src: url('../fonts/Aller/Aller_Lt.ttf') format('truetype');
  font-weight: light;
}

body {
  margin: 0;
  font-family: 'Aller';
  background-color: hsl(230, 21%, 21%);
  color: white;
  -webkit-font-smoothing: antialiased;

  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}

p,
li {
  font-size: 18px;
  line-height: 1.6em;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

.container {
  max-width: 680px;
  margin: auto;
  padding: 0px 12px;
  box-sizing: border-box;
}

/**
* Spinner
*/

.spinner__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner__text {
  font-weight: bold;
}

/**
*	Header
*/

.header__top__border {
  height: 6px;
  background: linear-gradient(
    hsl(279, 69%, 71%),
    hsl(348, 100%, 58%)
  );
  /* background: linear-gradient(hsl(24, 100%, 71%), hsl(348, 100%, 58%)); */
}

.header__brand__wrapper {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 38px;
}

.header__brand {
  display: inline-flex;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

.header__brand__icon {
  background: linear-gradient(
    hsl(279, 69%, 71%),
    hsl(348, 100%, 58%)
  );
  /* background: linear-gradient(hsl(24, 100%, 71%), hsl(348, 100%, 58%)); */

  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-right: 12px;
}

.header__subtitle {
  opacity: 0.9;
  font-size: 18px;
  margin-top: 4px;
  font-weight: light;
}

@media only screen and (max-width: 540px) {
  .header__brand {
    font-size: 26px;
  }

  .header__brand__icon {
    width: 45px;
    height: 45px;
  }

  .header__subtitle {
    font-size: 16px;
  }
}

/**
* Top
*/

.heroimage__title {
  font-size: 32px;
  margin-bottom: 48px;
}

.catchcopy__header {
  margin-top: 28px;
}

.catchcopy__header:after {
  content: ''; /* This is necessary for the pseudo element to work. */
  display: block;
  /* margin: 0 auto; */
  width: 24px;
  padding-top: 8px;
  border-bottom: 4px solid hsl(279, 69%, 71%);
  /* border-bottom: 4px solid hsl(348, 100%, 58%); */
  opacity: 0.6;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 32px;
}

.shortcut__command {
  min-width: 7em;
  display: inline-block;
}

/**
* Footer
*/

.divider {
  width: 100%;
  height: 4px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
  margin: 48px 0px;
}

.footer {
  text-align: center;
  padding-bottom: 42px;
}

.footer__sitemap {
  margin-bottom: 12px;
}

.footer__sitemap a {
  font-weight: bold;
  font-size: 14px;
  margin: 0px 8px;
}

.footer__me,
.footer__allrights {
  margin-top: 8px;
  font-size: 14px;
}

.footer__snslinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__snslink {
  background-color: #1a1a1a;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.footer__snslinks img {
  width: 24px;
  opacity: 0.9;
}

.footer__snslink__ph {
  background-color: white;
}

.footer__snslink__ph img {
  width: 44px;
}

/**
* Spinner
*/

.spinner__wrapper {
  min-height: 120px;
}

.spinner {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1200ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1200ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1200ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.carbon-ads {
  text-align: center;
}
